@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    font-family: "Playfair", serif;
    font-size: large;
    font-weight: 600 ;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}



.homepage{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.paragraphe{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: justify;
    line-height: 35px;
    
}

.paragraphe h1{
    text-align: center;
    border-top: solid 2px;
    border-bottom: solid 2px;   
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragraphe p{
    padding-left: 20px;
    padding-right: 20px;
}

.middlepage span{
    text-align: center;
}

.grid img{
    width: 100%;
}

.gallery{
    column-count: 3;
    gap: 5px;
    padding-top: 50px;
}

.middlepage{
    padding-top: 100px;
}

