@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: "Playfair", serif;
    font-size: large;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

<<<<<<< HEAD


.homepage {
=======
.homepage{
>>>>>>> 37737de9ff18cb7826374907c4e5715d10b4273b
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.homepage img {
    width: 700px;
}

.paragraphe {
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 45px;
}

.paragraphe h1 {
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.paragraphe p {
    padding-left: 20px;
    padding-right: 20px;
}

.middlepage span {
    text-align: center;
}

.grid img {
    width: 100%;
    gap: 30px;
}

.gallery {
    column-count: 3;
    gap: 20px;
    padding-top: 5px;
}

.middlepage {
    padding-top: 100px;
}

span {
    text-align: center;
}

.container_button_book {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_button_book a {
    text-decoration: none;
}

.container_button_book p {
    font-size: 1.2rem;
    color: #333;
    font-size: 30px;
}

.container_button_book button {
    background-color: #ADD8E6;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container_button_book button:hover {
    background-color: #87CEEB;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.container_button_book button:active {
    transform: scale(0.95);
}